/* =========================================================
   Password Screen
   ========================================================= */

.password-box {
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
    margin-top: 120px;
}


/* Hide title */

.password-title {
    display: none;
}


/* Password entry */

.password-entry {
    background-color: rgba(0, 0, 0, 0.35);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    color: #ffffff;
    padding: 10px 14px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


/* Make actual entry text white */

.password-entry text {
    color: #dd0505;
}


/* Login button */

.password-login-button {
    background-color: rgba(53, 132, 228, 0.75);
    border-radius: 12px;
    padding: 10px 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}


/* IMPORTANT:
   Style the actual GtkLabel inside the button.
*/

.password-login-button label {
    color: #e40606;
    font-weight: 600;
}


/* Login hover */

.password-login-button:hover {
    background-color: rgba(53, 132, 228, 0.95);
}


/* Login pressed */

.password-login-button:active {
    background-color: #1b6ac6;
}


/* Back button */

.password-back-button {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    padding: 8px 16px;
    border: 1px solid rgba(255, 255, 255, 0.15);
}


/* Actual Back label */

.password-back-button label {
    color: rgba(145, 4, 4, 0.85);
    font-weight: 600;
}


/* Back hover */

.password-back-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


/* Back pressed */

.password-back-button:active {
    background-color: rgba(255, 255, 255, 0.3);
}